<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ProductionCstr" connectionString="Server=10.0.64.60;Database=NewsBeast;User Id=stocknb;Password=nb123!@#;"/>-->
    <add name="ProductionCstr" connectionString="Server=10.168.200.5;Database=Newsbeast_no_tables;User Id=sa;Password=pr1m$diA#;"/>
  </connectionStrings>
</configuration>